// Youtube videos
.video-container {
    position: relative;
    width: 100%; max-width: 800px;
    margin: 3em auto;
}

.video-wrapper {
    position: absolute;
    width: 100%; max-width: 100%; height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.video-wrapper iframe, .video-wrapper video {
    width: 100%; max-width: 100%; height: 100%;
    position: absolute; top: 0; left: 0;
}