#social {
  padding: 20px;
  background-color: purple;
  text-align: center;
}

#social h3 {
  font-size: 30px;
  font-weight: 50%;
  color: black;
}

#social ul {
  padding: 10px;
  margin: 0;
  transform: translate(-50% 50%);
  display: flex;
  justify-content: center;
}

#social ul li {
  list-style: none;
  margin: 0 15px;
}

#social ul li .fab {
  font-size: 50px;
  line-height: 60px;
  transition: .2s;
  color: #000;
}

#social ul li .fa {
  font-size: 50px;
  line-height: 60px;
  transition: .2s;
  color: #000;
}

#social ul li .fas {
  font-size: 50px;
  line-height: 60px;
  transition: .2s;
  color: #000;
}

#social ul li .fa:hover {
  color: #fff;
}

#social ul li a {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  transition: .2s;
  box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

#social ul li a:hover {
  transform: translate(0, -10px);
}

#social ul li:nth-child(1) a:hover {
  background-color: #55acee;
}

#social ul li:nth-child(2) a:hover {
  background-color: #e4405f;
}

#social ul li:nth-child(3) a:hover {
  background-color: #000;
}

#social ul li:nth-child(4) a:hover {
  background-color: #0077B5;
}

#social ul li:nth-child(5) a:hover {
  background-color: #f57d00;
}


footer h4 {
  text-align: center;
}
