header {
    font-size: 16px;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.welcome {
    margin-right: auto;
}

@media (max-width: 460px) {
    header {
        position: relative;
        justify-content: center;
    }
}