img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
  }
  
  #img-div {
    background: white;
    background-size: auto;
    padding: 10px;
    margin: 0;
  }
  
  #image {
    max-width: auto; 
    border-radius: 12px;
  }

#img-caption {
    margin: 15px 0 5px 0;
  }

@media (max-width: 460px) {
    #img-caption {
      font-size: 1.4rem;
    }
  }