img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
  }
  
  #img-div {
    background-size: auto;
    padding: 20px;
  }
  
  #image {
    max-width: auto; 
    border-radius: 12px;
    margin-right: 57%;
  }

#img-container {
    margin: 15px 0 5px 0;
  }

.img-caption {
  margin-left: 45%;
  margin-top: -15%;
  padding-right: 500px;
  padding-bottom: 100px;
  line-height: 1.2;
  font-size: 30px;
}

@media (max-width: 460px) {
    #img-caption {
      font-size: 1.4rem;
    }
  }

blockquote p, cite{
  margin-left: 35%;
  margin-top: -25%;
}
  