#navigation {
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    text-transform: uppercase;
    cursor: pointer;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

ul li {
    transition: all 0.3s ease 0s;
}

ul li:hover {
    color: purple;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}