/*#navigation {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
} */

a {
  color: black;
}

.header {
  background-color: white;
  box-shadow: 1px 1px 4 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

#header #navigation .nav-links {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

#header #navigation .nav-links button {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

#header #navigation .nav-links a {
  display: block;
  outline: 1px solid red;
  padding: 20px;
  border-right: 1px solid #aaa;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

#header #navigation .nav-links a button {
  display: block;
  outline: 1px solid red;
  padding: 20px;
  border-right: 1px solid #aaa;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

#header .nav-links a button {
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

#header ul li:hover {
  color: purple;
  cursor: pointer;
}

#header .logo {
  float: left;
  display: block;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

#header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

#header .menu-icon {
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;
}

#header .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background 0.2s ease-out;
}

#header .menu-icon .nav-icon:before {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2 ease-out;
  top: 5px;
}

#header .menu-icon .nav-icon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2 ease-out;
  top: -5px;
}

#header .menu-btn {
  display: none;
}

#header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

#header .nav-links a button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
