#navigation {
    display: inline-block;
    font-size: 1rem;
    padding: 0 10px;
    margin: -2rem;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

nav li:hover {
    background: purple;
    color: white;
}

nav ul {list-style: none;}
